<div class="wrapper">
  <div class="inner-wrapper">
    <div class="header">
      <div class="headline-text">
        The<div id="multiplexer">Multiplexer's</div><div>Mall</div>
      </div>
      <div class="headline">
        <span class="left">
          <%= image_tag "balls.png" %>
        </span>

        <span class="right">
          <%= image_tag "balls.png" %>
        </span>
      </div>
    </div>
     <div class="navbar">
      <ul>
        <li>Balls</li>
        <li>Bean Bags</li>
        <li>Bounce</li>
        <li>Accessories</li>
        <li>Cart(0)</li>
      </ul>
    </div>

    <h2 class="juggling-text">
      Large Pink Juggling Balls
    </h2>
    <div class="left-column-juggling">
      <%= image_tag "pink-balls.png" %>
      <div class="text">
        One of the brightest juggling balls you'll ever find! Looks great from a
        distance or up close. These are made of plastic or hollow inside. They are
        quite big so they work best with a juggler with large hands.
      </div>
    </div>
    <div class="right-column-juggling">
      <h4 class="customer-reviews">
        Customer Reviews
      </h4>
      <div class="review">
        <%= image_tag "review-1.png" %>
        <div class="comment">
          <div class="bubble">I thought these were pretty good, I abused them quite a bit and they held up nicely.</div>
        </div>
      </div>
      <div class="review">
        <%= image_tag "review-2.png" %>
        <div class="comment">
          <div class="bubble">Pretty good, for the price.</div>
        </div>
      </div>
      <h4 class="related-products">
        Related Products
      </h4>
      <ul class="related-balls">
        <li><%= image_tag "white-balls.png" %></li>
        <li><%= image_tag "red-balls.png" %></li>
        <li><%= image_tag "blue-balls.png" %></li>
      </ul>
    </div>
  </div>
</div>
